{% extends "layout.html" %}

{% block content %}

<h1>{{ title }}</h1>
<hr>
<ul>
        <li class="has-line-data" data-line-start="4" data-line-end="5">💻 I’m currently working on Tata Consulting
                Services
                aka <a href="http://tcs.com" target="_blank" rel="noopener noreferrer">TCS</a>.</li>
        <li class="has-line-data" data-line-start="5" data-line-end="6">🌱 I’m currently learning <a
                        href="https://bit.ly/2ZrZH9S" target="_blank" rel="noopener noreferrer">Machine learning</a>.
        </li>
        <li class="has-line-data" data-line-start="6" data-line-end="7">🥅 2021 Goals: To deploy many applications in <a
                        href="https://play.google.com/store/apps/developer?id=Sanjay+R+B" target="_blank"
                        rel="noopener noreferrer">Google Play Store</a>. (2 / N)
        </li>
        <li class="has-line-data" data-line-start="7" data-line-end="8">😃 Hobby: Learning new things by taking 100 Days
                Challenges.</li>
        <li class="has-line-data" data-line-start="8" data-line-end="10">⚡ Fun fact: I’m a percussionist in NxtGen Music
                Band.</li>
</ul>

<hr>
<h3 id="languages-and-tools-">Languages and Tools:</h3>
<p>
        <img title='Flutter' src="https://img.icons8.com/color/26/000000/flutter.png" />
        <img title='VS Code' src="https://img.icons8.com/fluent/26/000000/visual-studio-code-2019.png" />
        <img title='Jenkins' src="https://img.icons8.com/color/26/000000/jenkins.png" />
        <img title='Python' src="https://img.icons8.com/color/26/000000/python.png" />
        <img title='Firebase' src="https://img.icons8.com/color/26/000000/firebase.png" />
        <img title='Android' src="https://img.icons8.com/fluent/26/000000/android-os.png" />
        <img title='Java' src="https://img.icons8.com/color/26/000000/java-coffee-cup-logo.png" />
        <img title='MongoDB' src="https://img.icons8.com/color/26/000000/mongodb.png" />
        <img title='JS' src="https://img.icons8.com/color/26/000000/javascript.png" />
        <img title='CSS' src="https://img.icons8.com/color/26/000000/css3.png" />
        <img title='HTML' src="https://img.icons8.com/color/26/000000/html-5.png" />
        <img title='C++ Programming' src="https://img.icons8.com/color/26/000000/c-plus-plus-logo.png" />
        <img title='C Programming' src="https://img.icons8.com/color/26/000000/c-programming.png" />
</p>
<hr>
<a href="https://github.com/sanjaysanju618?tab=repositories" target="_blank" rel="noopener noreferrer">
        <img src="https://github-readme-stats.vercel.app/api?username=sanjaysanju618&amp;show_icons=true"
                alt="sanjaysanju618&#39;s Github stats">
</a>

{% endblock %}